:root {
    --primary-color: #CA2132;
    --primary-color-light: #FFCBD0;
    --primary-color-dark: #990010;

    --secondary-color: #444F23;
    --secondary-color-light: #D3E2A6;
    --secondary-color-dark: #2B350B;

    --black-color-100: #1F1D27;
    --black-color-60: #7F7D89;
    --black-color-40: #AAA9B1;
    --black-color-20: #D4D4D8;
    --black-color-10: #EAE9EB;
    --black-color-05: #F4F4F5;

    --whiteps: #ffffff;
    --blackps: #000000;
    --blueps: #007BFF;

}

*,
*::before,
*::after,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--whiteps);
    background-color: var(--blackps);
    font-family: 'Poppins', sans-serif;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* utils */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 36px;
    line-height: 54px;
}

h2 {
    font-size: 30px;
    line-height: 45px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 21px;
}

p {
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

a {
    color: var(--whiteps);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

ul {
    margin: 0;
}

hr {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255);
    opacity: 0.6;
}

.heading-md {
    font-size: 34px;
    line-height: 60px;
}

.para-1 {
    font-size: 18px;
    line-height: 32px;
}

.para-2 {
    font-size: 16px;
    line-height: 30px;
}

.para-3 {
    font-size: 14px;
    line-height: 28px;
}

.para-4 {
    font-size: 12px;
    line-height: 22px;
}

.fw-600 {
    font-weight: 600;
}

.primary-text {
    color: var(--primary-color);
}

.muted-text {
    color: var(--black-color-40);
}

.light-text {
    color: var(--black-color-05);
}

.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.blue-bg {
    background-color: var(--blueps);
}

.white-bg {
    color: var(--blackps);
    background-color: var(--whiteps);
}

.mt-30 {
    margin-top: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.small-width {
    max-width: 550px;
}

.tag-lg,
.tag-md,
.tag-sm,
.tag {
    min-width: 146px;
    display: inline-block;
    text-align: center;
    padding: 6px 14px;
    border-radius: 50px;
    color: var(--whiteps);
    background-color: var(--primary-color);
}

.tag-sm {
    min-width: 100px;
    font-size: 11px;
    line-height: 16.5px;
    padding: 3px 10px;
}

.tag-md {
    min-width: 92px;
    font-size: 13px;
    padding: 4px 16px;
    line-height: 19.5px;
}

.tag-lg {
    min-width: unset;
}

/* .container {
    max-width: 1170px;
    margin: auto;
} */
.spacer-y {
    padding-top: 50px;
    padding-bottom: 50px;
}

.white-bg a {
    color: var(--blackps);
}

.slider-nav-buttons {
    display: flex;
    gap: 10px;
}

.slide-button {
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--secondary-color-dark);
    background-color: var(--whiteps);
    transition: all 0.3s ease;
}

.slide-button:hover {
    color: var(--whiteps);
    background-color: var(--primary-color);
}

.site-link {
    font-weight: 600;
}

.secondary-button,
.theme-button {
    border: none;
    display: inline-block;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50px;
    text-align: center;
    color: var(--whiteps);
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.theme-button:hover {
    color: var(--whiteps);
    background-color: var(--primary-color-dark);
}

.secondary-button {
    color: var(--black-color-100);
    background-color: var(--whiteps);
}

.secondary-button:hover {
    color: var(--primary-color);
}

.form-select:focus,
.form-control:focus {
    color: var(--whiteps);
    box-shadow: none;
    background-color: transparent;
}

.white-bg .form-control:focus {
    border: 1px solid var(--primary-color);
}

.theme-form {
    height: 40px;
    padding: 10px 24px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 50px !important;
    border-radius: 1px solid var(--whiteps);
    /* color: var(--whiteps); */
    background-color: transparent;
}

.theme-form::placeholder {
    color: var(--black-color-05);
    opacity: 0.4;
}

/* utils ends */
/* header */
.top-nav-wrapper {
    padding: 15px 0;
    background-color: var(--secondary-color);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-nav .top-right,
.top-nav .top-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-nav .top-right .day {
    padding-right: 10px;
    border-right: 1px solid white;
}

.top-socials {
    display: flex;
    gap: 20px;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--blackps);
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation .item-left {
    flex: 0 0 30%;
}

.navigation .item-left .logo {
    height: 70px;
}

.navigation .item-right {
    flex: 0 0 auto;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.item-right .menu {
    display: flex;
    gap: 30px;
}

.hamburger {
    display: none;
    right: 0;
    position: relative;
    transition: all 0.3s ease;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    right: 0;
    background: var(--primary-color);
    z-index: 1;
    transform-origin: center;
    transition: all 0.3s ease;
}

.hamburger.active span {
    position: absolute;
    margin: 0;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2) {
    width: 0;
}

.hamburger span:last-child {
    margin: 0;
}

/* header ends */
/* index */
/* trend news styling */
.trending-news {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.trend-news-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.trend-news {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trend-news .news li {
    margin-right: 20px;
}

/* news section styling */
.news-slider .text-slider-wrapper {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    padding: 40px 30px;
    color: var(--blackps);
    border-radius: 5px;
    background-color: var(--whiteps);
}

.text-slider-wrapper .date {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-top: 68px;
}

.text-slider-wrapper a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.news-slider .image-slider-wrapper {
    position: relative;
    text-align: right;
    max-width: 580px;
    border-radius: 5px;
    overflow: hidden;

    margin-left: auto;
}

.image-slide {
    height: 500px;
}

.image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: var(--whiteps);
}

.slider-buttons div {
    cursor: pointer;
}

.video-aside,
.news-aside {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.news-aside:last-child {
    margin-bottom: 0;
}

.news-aside .aside-image {
    width: 90px;
}

.aside-image img {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    object-fit: cover;
}

/* news section ends */
/* top story section */
.section-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.section-header h3 {
    flex: 0 0 auto;
}

.top-stories .slider-nav-buttons {
    justify-content: flex-end;
}

.story-cards {
    border-radius: 5px;
    height: 100%;
    background-color: var(--whiteps);
}

.story-text {
    padding-right: 30px;
}

.story-cards .story-card-image {
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 269px;
    overflow: hidden;
}

.story-cards .story-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.story-cards:hover img {
    transform: scale(1.1);
}

.story-card-image .tag-lg {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
}

.story-cards .story-card-text {
    color: var(--blackps);
    padding: 17px 15px;
    border-radius: 0 0 5px 5px;
}

.story-card-text h5 {
    font-weight: 600;
}

/* top story section ends */
/* video section styling */
.video-aside {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.video-aside:last-child {
    margin-bottom: 0;
}

.video-aside .aside-image {
    width: 90px;
    height: 90px;
}

.video-big {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.video-big:hover .video-overlay {
    opacity: 1;
    visibility: visible;
}

.video-big .video-overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 50px 28px 28px;
    background: linear-gradient(0deg, #000000 43.83%, rgba(0, 0, 0, 0.490196) 69.65%, rgba(0, 0, 0, 0) 93.51%);
    transition: all 0.3s ease;
}

.video-big img {
    width: 100%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.more-videos {
    height: 520px;
    overflow-y: scroll;
    scrollbar-color: var(--primary-color) rgba(255, 255, 255, 0.1);
    scrollbar-width: thin !important;
}

.more-videos .aside-image {
    position: relative;
}

.more-videos .aside-image .play-button img {
    width: 30px;
    height: 30px;
}

.more-videos::-webkit-scrollbar {
    width: 10px;
}

.more-videos::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--primary-color);
    /* border: 1px solid rgba(255, 255, 255, 0.7); */
}

.more-videos::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* video section styling ends */
/* world news styling */
.world-news-wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--blueps);
}

.world-news-wrapper .world-text,
.world-news-wrapper .world-image {
    flex: 0 0 50%;
}

.world-news-wrapper .world-text {
    padding: 36px;
}

.world-news-wrapper .world-image {
    height: 500px;
}

.world-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* world news styling ends */
/* top match for you styling */
.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 24px;
}

.filter-list .filter-button {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 24px;
    border-radius: 50px;
    border: 1px solid var(--whiteps);
}

.filter-list .filter-button.active,
.filter-list .filter-button:hover {
    color: var(--whiteps);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.topic-cards .topic-image {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.topic-cards .topic-image .tag-lg {
    position: absolute;
    top: 20px;
    left: 20px;
}

.col-lg-8 .topic-cards .topic-image img {
    height: 160px;
}

.topic-cards .topic-image img {
    width: 100%;
    object-fit: cover;
}

.topic-detail-wrapper span:not(:last-child)::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--black-color-40);
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    border-radius: 50px;
}

/* top match for you styling ends */
/* keep in touch card styling */
.keep-in-touch {
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
}

.keep-in-touch form p:nth-child(1) {
    font-weight: 600;
}

/* keep in touch card styling ends */
/* more topics styling */
.more-topic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    row-gap: 14px;
}

.more-topic-list a {
    display: inline-block;
    padding: 10px 24px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #121212;
    border-radius: 50px;
    background-color: var(--whiteps);
    border: 1px solid rgba(18, 18, 18, 0.15);
}

.more-topic-list a:hover {
    color: var(--whiteps);
    background-color: var(--primary-color);
}

/* more topics styling ends */
/* keep in touch long styling */
.keep-in-touch-long {
    background-image: url(../images/keep-in-touch-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.keep-form {
    padding: 70px;
}

.keep-form.white-bg {
    background-color: rgba(255, 255, 255, 0.95);
}

.keep-form .theme-form::placeholder {
    color: rgb(127, 125, 137);
}

.keep-form .theme-form:focus {
    color: var(--blackps);
}

/* keep in touch long styling ends */
/* index ends */
/* footer */
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-row .footer-col {
    flex: 0 0 25%;
}

.footer-row .footer-col:nth-child(1) {
    flex: 0 0 29%;
}

.footer-row .footer-col:nth-child(2) {
    flex: 0 0 15%;
}

.footer-row .footer-col:nth-child(3) {
    flex: 0 0 30%;
}

.footer-row .footer-col:nth-child(4) {
    flex: 0 0 20%;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-contact a {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 27px;
}

.footer-contact:last-child a {
    margin-bottom: 0;
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.copyright {
    padding: 14px 0;
}

/* footer ends */
/* intel page starts */
/* recent news */

.col-lg-6:nth-child(1) .recent-news-image {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.col-lg-6:nth-child(2) .recent-news-image {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 55%;
}

.col-lg-6:nth-child(2) .recent-news-post {
    display: flex;
    align-items: center;
    gap: 20px;
}

.recent-news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content-wrapper a {
    display: flex;
}

.news-arrow-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* recent news ends */
/* newsletter */
.newsletter {
    border-top: 1px solid rgba(244, 244, 245, 0.3);
    border-bottom: 1px solid rgba(244, 244, 245, 0.3);
}

.newsletter-form {
    display: flex;
    gap: 1rem;
}

.newsletter-input {
    height: 48px;
    border-radius: 50px;
    padding: 12px 16px;
}

.newsletter-input:focus {
    color: var(--blackps);
    background-color: var(--whiteps);
}

.newsletter .theme-button {
    height: 48px;
}

/* newsletter ends */
/* more news */
.more-news-image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.pagination-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(244, 244, 245, 0.3);
}

.number-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.number-list li {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--whiteps);
    background-color: transparent;
    transition: all 0.3s ease;
}

.number-list li:hover,
.number-list li.active {
    color: var(--blackps);
    background-color: #F9F5FF;
}

/* more news ends */
/* intel page ends */
/* about page */
.about-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.about-socials a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--black-color-60);
    background-color: var(--whiteps);
    border-radius: 8px;
}

/* subscribe section */
.subscribe {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.subscribe-cards {
    position: relative;
    padding: 56px 0 32px 0;
    color: var(--blackps);
    border-radius: 16px;
    margin-top: 28px;
    background-color: var(--whiteps);
}

.subscribe-cards .subs-icon {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--whiteps);
    background-color: var(--primary-color);
    border-radius: 50%;
}

.subscribe-cards .subs-name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

/* yt video section */
.yt-video iframe {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

/* about page ends */
/* contact page */
.submit-card {
    height: 100%;
    padding: 24px;
    border-radius: 30px;
    word-break: break-word;
    border: 1px solid rgba(244, 244, 245, 0.3);
}

.submit-icon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 1.4rem;
    background-color: var(--primary-color);
}

/* contact form */
.spacer-left {
    padding-left: calc(50% - 572px) !important;
}

.contact-form {
    border-top: 1px solid rgba(244, 244, 245, 0.2);
    border-bottom: 1px solid rgba(244, 244, 245, 0.2);
}

.contact-label {
    font-size: 14px;
    line-height: 21px;
}

.form-wrapper .form-control:not(textarea) {
    height: 44px;
    padding: 0 16px;
}

.form-wrapper .form-control::placeholder {
    color: #AAA9B1;
}

.form-wrapper .form-control:focus {
    border: 1px solid #ced4da;
    color: var(--blackps);
    background-color: var(--whiteps);
}

.number-field select {
    flex: 0 0 20% !important;
    border-right: 0 !important;
}

.number-field input {
    border-left: 0 !important;
}

.contact-submit {
    height: 60px;
    font-size: 18px;
    line-height: 28px;
}

/* contact page ends */
/* resources page */
.vfw-text {
    position: relative;
    max-height: 150px;
    overflow: hidden;
    /* transition: all 1s ease; */
}
.vfw-text.expanded {
    max-height: 100%;
}

.read-less,
.read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    background-image: linear-gradient(to bottom, transparent, black);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.vfw-text.expanded .read-more {
    opacity: 0;
    visibility: hidden;
}
.vfw-text.expanded .read-less {
    opacity: 1;
    visibility: visible;
}
.read-less {
    position: relative;
    padding-bottom: 0;
    background-image: none;
    opacity: 0;
    visibility: hidden;
}
/* resources page ends */
/* sponsors page */
.spnsr-card {
    height: 100%;
}
.spnsr-card img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-for-ad .contact-ad-wrapper {
    padding: 30px 89.5px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255, 0.3);
}
/* sponsors page ends */
/* media query */
@media (min-width: 1200px) {
    .spacer-left {
        padding-left: calc(50% - 572px) !important;
        padding-right: calc(50% - 572px) !important;
    }

    .container {
        max-width: 1170px;
    }

    .world-news-wrapper .world-image {
        height: 400px;
    }
}

@media (max-width: 1200px) {
    .spacer-left {
        padding-left: calc(50% - 468px) !important;
        padding-right: calc(50% - 468px) !important;
    }

    .navigation .item-left .logo {
        height: 60px;
    }
}

@media (min-width: 992px) {
    .spacer-left {
        padding-left: calc(50% - 472px);
    }

    .menu a.active {
        color: var(--primary-color);
        text-decoration: underline;
    }

    /* trending news */
    .trend-news {
        flex: 0 0 60%;
    }

    /* contact */
    .contact-map {
        width: 100%;
        height: 100%;
    }

    /* contact ends */
}

@media (max-width: 991px) {
    .spacer-left {
        padding-left: calc(50% - 352px) !important;
        padding-right: calc(50% - 352px) !important;
    }

    /* utils */
    p {
        font-size: 14px;
    }

    .para-1 {
        font-size: 16px;
    }

    /* utils ends */
    /* navigation */
    .hamburger {
        cursor: pointer;
        display: block;
    }

    .navigation .item-left .logo {
        height: 50px;
    }

    .item-right .menu {
        position: absolute;
        display: block;
        left: 0;
        background: #121212;
        height: 0;
        width: 100%;
        z-index: 9;
        text-align: center;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .menu.active {
        height: unset;
        overflow: visible;
    }

    .menu a {
        padding: 10px 0;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .menu a.active {
        color: var(--whiteps);
        background-color: var(--primary-color);
    }

    /* navigation ends */
    /* trending news */
    .trend-news-wrapper {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    /* trending news ends */
    /* world news */
    .world-news-wrapper .world-image {
        height: 400px;
    }

    /* world news ends */
    /* footer */
    .footer-row .footer-col {
        flex: 0 0 50% !important;
        margin-bottom: 30px;
        padding-right: 20px;
    }

    .footer-row .footer-col:nth-child(1) img {
        width: 200px;
    }

    /* footer ends */
    /* contact */
    .contact-map {
        width: 100%;
        height: 300px;
    }

    /* contact ends */
}

@media (max-width: 767px) {
    .spacer-left {
        padding-left: calc(50% - 262px) !important;
        padding-right: calc(50% - 262px) !important;
    }

    /* utils */
    .spacer-y {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .mt-30 {
        margin-top: 20px;
    }

    .slide-button {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .section-header {
        gap: 10px;
    }

    .tag {
        font-size: 14px;
    }

    .heading-md {
        font-size: 20px;
        line-height: 30px;
    }

    /* utils ends */
    /* top nav */
    .top-nav-wrapper {
        padding: 8px 0;
    }

    .top-nav p,
    .top-nav {
        font-size: 12px;
    }

    /* top nav ends */
    /* news slider */
    .news-slider {
        display: flex;
        flex-direction: column-reverse;
    }

    .news-slider .image-slider-wrapper {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .image-slide {
        height: 250px;
    }

    .text-slider-wrapper .date {
        margin-top: 40px;
    }

    .news-slider .text-slider-wrapper {
        border-radius: 0 0 5px 5px;
        position: relative;
        top: unset;
        bottom: 0;
        width: 100%;
        transform: unset;
    }

    /* news slider ends */
    /* world news */
    .world-news-wrapper {
        flex-direction: column-reverse;
    }

    .world-news-wrapper .world-image {
        width: 100%;
    }

    .world-image img {
        height: 260px;
    }

    /* world news ends */
    /* keep form */
    .keep-form {
        padding: 40px 70px;
    }
    /* keep form ends */
    /* footer */
    .footer-row .footer-col {
        flex: 0 0 100% !important;
    }

    .footer-col .footer-list,
    .footer-col .footer-cont-text {
        font-size: 14px;
    }

    /* footer ends */
    /* about page */
    /* yt video section */
    .yt-video iframe {
        height: 290px;
    }

    /* about page ends */
    /* resources page */
    .read-less {
        padding-top: 1rem;
    }
    /* resources page ends */
    /* sponsors page */
    .contact-for-ad .contact-ad-wrapper {
        padding: 30px;
    }
    .contact-ad-wrapper .col-lg-3 img {
        height: 170px;
    }
    /* sponsors page ends */
}

@media (max-width: 575px) {
    .spacer-left {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .section-header hr {
        display: none;
    }

    .section-header h3 {
        flex: auto;
    }

    /* top nav */
    .top-nav {
        flex-direction: column;
        justify-content: center;
    }

    .top-nav p,
    .top-nav {
        font-size: 10px;
        line-height: 16px;
    }

    /* top nav ends */
    /* navigation */
    .navigation .item-left .logo {
        height: 40px;
    }

    .navigation .item-right {
        gap: 15px;
    }

    /* navigation ends */
    /* trending news */
    .trend-news {
        flex-direction: column;
        text-align: center;
    }

    /* trending news ends */
    /* news slider */
    .news-slider .text-slider-wrapper {
        padding: 20px 30px;
    }

    /* news slider ends */
    /* topic cards */
    .col-lg-8 .topic-cards .topic-image img {
        height: 100%;
    }

    /* topic cards ends */
    /* video section */
    .video-big .video-overlay {
        padding: 30px 15px 15px;
        background: linear-gradient(0deg, #000000 5%, rgba(0, 0, 0, 0) 100%);
    }

    /* video section ends */
    /* world news */
    .world-news-wrapper .world-text {
        padding: 20px 30px;
    }

    /* world news ends */
    /* filter buttons */
    .filter-list {
        gap: 10px;
    }

    .filter-list .filter-button {
        padding: 7px 15px;
    }

    /* filter buttons ends */
    /* more topics */
    .more-topic-list {
        row-gap: 10px;
    }

    .more-topic-list a {
        padding: 7px 15px;
    }

    /* more topics ends */
    /* keep form */
    .keep-form {
        padding: 20px 30px;
    }

    /* keep form ends */
    /* footer */
    .footer-row .footer-col {
        padding-right: 0;
    }

    /* footer ends */
    /* copyright */
    .copyright p {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.5;
        color: var(--black-color-40);
    }

    /* copyright ends */

    /* intel page */
    .para-1 {
        font-size: 14px;
    }

    /* recent news */
    .col-lg-6:nth-child(2) .recent-news-post {
        flex-direction: column;
    }

    .col-lg-6:nth-child(2) .recent-news-image {
        flex: 0 0 100%;
    }

    /* newsletter */
    .newsletter-form {
        flex-direction: column;
    }

    /* pagination */
    .pagination-wrapper {
        gap: 10px;
    }

    .pagination-wrapper div:nth-child(1) {
        order: 2;
    }

    .pagination-wrapper div:nth-child(2) {
        order: 1;
        flex: 0 0 100%;
    }

    .pagination-wrapper div:nth-child(3) {
        order: 3;
    }

    /* intel page ends */
    /* sponsors page */
    .contact-for-ad .contact-ad-wrapper {
        padding: 20px 15px;
    }
    /* sponsors page ends */
}

/* media query ends */